<section class="ui container">
  <h1>Check bookings</h1>
    <div class="ui container">
        <form method="post" action="/bookings" class="ui form">
          <h3> By username </h3>
            <div class="fields">
              <div class="field">
                <input class="input" type="text" placeholder='Username' name='username'>
              </div>
              <div class="field">
                  <input class="ui button" type="submit" value="Find bookings">
              </div>
            </div>
        </form>
    </div>

      {{#each all_bookings}}

      <div class="ui accordion">
        <div class="title">
          <!-- <div class="ui segment"> -->
            <div class="ui center aligned middle aligned grid">
              <div class="row">
                <div class="five wide column">{{from}} to {{to}}
                   <!-- <i class="dropdown icon"></i> -->
                </div>
                <div class="five wide column">
                  {{departing}}
                </div>
                <div class="five wide column">
                  <u>more</u>
                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
        <div class="content">
          <div class="ui horizontal segments">
            <div class="ui segment">
              <p>
                <strong>ID: {{Booking_id}}</strong></br>
                Flight ID:  {{for_flight_id}} </br>

                Seat no:  {{seat_no}} </br></br>

                <u>{{Customer_username}}</u></br>
                {{firstname}}</br>
                {{lastname}}
              </p>
            </div>
            <div class="ui segment">
              <p>
                Booked on:  {{booked_on}} </br>
                Amount paid:  {{paid}}£ </br>
                Return:  {{return}} </br>
                Checked baggage:  {{checked_baggage}} </br></br>
                From: {{from}}, {{from-airport}} </br>
                To: {{to}},  {{to-airport}} </br>
                {{terminal}}
              </p>
            </div>
            <div class="ui segment">
              <p>
                Departing: {{departing}} </br>
                Arriving:  {{arriving}} </br></br>
                Checked in: {{checked_in}} </br>
                <form method="post" action="/bookings">
                <input type="hidden" name="Booking_id" value="{{Booking_id}}">
                <input type="hidden" name="username" value="{{Customer_username}}">
                <input class="ui button" type="submit" value="Check in">
                </form>
              </p>
            </div>
          </div>
        </div>
      </div>

      {{/each}}

</section>
