<section class="ui container">
    <h1>Book a trip</h1>

    <div class="ui form book">
        <form method="post" action="/book">
            <div class="field">
                <input class="input" type="text" placeholder='From' name='fromdestination'>
            </div>

            <div class="field">
                <input class="input" type="text" placeholder='To' name='todestination'>
            </div>

            <input type="submit" class="ui button submit spacing" value="Find flights">
        </form>
    </div>

    <div class="ui container">
        {{#each flights}} {{#each this}} {{#if from}}

        <div class="ui accordion">
            <div class="title">
                <!-- <div class="ui segment"> -->
                <div class="ui center aligned middle aligned grid">
                    <div class="row">
                        <div class="five wide column">{{from}} to {{to}}
                            <!-- <i class="dropdown icon"></i> -->
                        </div>
                        <div class="five wide column">
                            {{departing}}
                        </div>
                        <div class="five wide column">
                            <u>more</u>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="content">

              <div class="ui segments">
                <div class="ui horizontal segments">
                    <div class="ui center aligned segment">
                        <p>
                            <strong>ID: {{id}}</strong></br>
                        </p>
                    </div>
                    <div class="ui center aligned segment">
                        <p>
                            From: {{from}}, {{from-airport}} </br>
                            To: {{to}}, {{to-airport}}
                        </p>
                    </div>
                    <div class="ui center aligned segment">
                        <p>
                            Departing: {{departing}} </br>
                            Arriving: {{arriving}}
                        </p>
                    </div>
                </div>
                <div class="ui center aligned segment">

                  <div class="ui form">
                    <form method="post" action="/book">
                      <div class="fields">
                        <input type="hidden" name="flight_id" value="{{id}}">
                        <div class="field">
                          <input class="input" type="text" placeholder='Username' name='username'>
                        </div>
                        <div class="field">
                          <input class="ui button" type="submit" value="127£ | Book">
                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>

            </div>
        </div>
        {{/if}} {{/each}} {{else}}
        <div class="ui center aligned container">
            No flights to display
        </div>
        {{/each}}
    </div>

</section>
