<section class="ui container">
    <h1>Check flight status</h1>

    <div class="ui container">
    <div class="ui two column grid">
        <div class="column book">
            <h3>Search by flight number </h3>

            <form method="post" action="/find" class="ui form">
                <div class="fields">
                    <div class="field">
                        <input class="ui input" type="text" placeholder='Flight number' name='flight_id'>
                    </div>

                    <input type="submit" value="Find flights" class="ui button">
                </div>
            </form>
        </div>

        <div class="column">
            <h3>Search by route</h3>

            <form method="post" action="/find" class="ui form">
                <div class="fields">
                    <div class="field">
                        <input class="ui input" type="text" placeholder='Destination' name='fromdestination'>
                    </div>
                    <div class="field">
                        <input class="ui input" type="text" placeholder='Destination' name='todestination'>
                    </div>

                    <input type="submit" value="Find flights" class="ui button">
                    <!-- select name='date' class="">
                    <option value=''></option>
                    <option value='arrived'>Arrived</option>
                    <option value='on time'>On Time</option>
                    <option value='delayed'>Delayed</option>
                    </select -->
                </div>
            </form>
        </div>
    </div>
    </div>

    {{#each flights}}
        {{#each this}}
            {{#if id}} <!-- <p>
                From: {{from}}, {{from-airport}}. Departing: {{departing}} <br>
                To: {{to}}, {{to-airport}}, Arriving: {{arriving}} <br>
                Status: {{status}} <br>
            </p> -->
            <div class="ui accordion">
              <div class="title">
                <!-- <div class="ui segment"> -->
                  <div class="ui center aligned middle aligned grid">
                    <div class="row">
                      <div class="five wide column">{{from}} to {{to}}
                         <!-- <i class="dropdown icon"></i> -->
                      </div>
                      <div class="five wide column">
                        {{departing}}
                      </div>
                      <div class="five wide column">
                        <u>more</u>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
              <div class="content">
                <div class="ui horizontal segments">
                  <div class="ui center aligned segment">
                    <p>
                      <strong>ID: {{id}}</strong></br>
                      Status: {{status}}
                    </p>
                  </div>
                  <div class="ui center aligned segment">
                    <p>
                      From: {{from}}, {{from-airport}} </br>
                      To: {{to}},  {{to-airport}} </br>
                      {{terminal}}
                    </p>
                  </div>
                  <div class="ui center aligned segment">
                    <p>
                      Departing: {{departing}} </br>
                      Arriving:  {{arriving}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
        {{/each}}
    {{else}}
      <div class="ui center aligned container">
        No flights to display
      </div>
    {{/each}}

</section>
