<div class="slider">
    <ul>
        <li style="background: url(../img/5.jpg); background-size: cover;">
            <h1>See the world in new colours</h1>
        </li>
        <li style="background: url(../img/3.jpg) center center; background-size: cover;">
            <h1>To see behind walls</h1>
        <li style="background: url(../img/4.jpg); background-size: cover;">
            <h1>This is the purpose of life</h1> 
    </ul>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="equal height row">
            <div class="eight wide column">
                <div class="call-to-action" style="background: url(../img/cta.jpg); background-size: cover;">
                    Where can we take you?
                </div>
            </div>

            <div class="eight wide column">
                <div class="ui form book">
                    <form method="post" action="/">
                        <div class="field">
                            <input class="input" type="text" placeholder='From' name='fromdestination'>
                        </div>

                        <div class="field">
                            <input class="input" type="text" placeholder='To' name='todestination'>
                        </div>

                        <input type="submit" class="ui button submit spacing" value="Find flights">
                    </form>
                </div>
            </div>
        </div>

        <div class="three column row">
            <div class="centred padded column">
                <div class="ticket">
                    <h3>Zanzibar City</h3> <br> 450£
                </div>
            </div>

            <div class="centred padded column">
                <div class="ticket">
                    <h3>Auckland</h3> <br> 550£
                </div>
            </div>

            <div class="centred padded column">
                <div class="ticket">
                    <h3>Barcelona</h3> <br> 50£
                </div>
            </div>
        </div>

        <div class="one column row">
            <div class="centred footer column">
                Thank you for flying with Pan Am airlines <br><br> <img src="../img/footer.png" height="30">
            </div>
        </div>
    </div>
</div>
