<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/semantic/dist/semantic.css' />
    <link rel='stylesheet' href='/style.css' />
    <link rel="stylesheet" href="/dist/css/unslider-dots.css">
    <link rel="stylesheet" href="/dist/css/unslider.css">

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/dist/js/unslider-min.js"></script>
    <script src="/semantic/dist/components/accordion.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.slider').unslider({
                autoplay: true, delay: 6000, speed: 1000, arrows: false
            });
            $('.ui.accordion').accordion();
        });
    </script>
</head>

<body>
    <div class="ui orange borderless inverted menu">
        <a class="item" href="/"><img width="10px" src="/img/logo.png"> &nbsp; Pan Am </a>
        <div class="right menu">
            <a class="item" href="/book">Book flights</a>
            <a class="item" href="/find">Flight status</a>
            <a class="item" href="/bookings">Check in</a>
            <a class="item" href="/trips">Get inspired</a>
        </div>
    </div>

    {{{body}}}
</body>
</html>
