<div class="ui two column trips grid">
    <div class="column">
        <div class="trip" style="background: url(../img/seaside.jpg); background-size: cover">
            <a href="/trips/seaside"><h2>Seaside</h2></a>
        </div>
    </div>
    <div class="column">
        <div class="trip" style="background: url(../img/adventure.jpg); background-size: cover">
            <a href="/trips/adventure"><h2>Adventure</h2></a>
        </div>
    </div>
    <div class="column">
        <div class="trip" style="background: url(../img/nightlife.jpg); background-size: cover">
            <a href="/trips/nightlife"><h2>Nightlife</h2></a>
        </div>
    </div>
    <div class="column">
        <div class="trip" style="background: url(../img/culture.jpg); background-size: cover">
            <a href="/trips/culture"><h2>Culture</h2></a>
        </div>
    </div>
    <div class="column">
        <div class="trip" style="background: url(../img/outdoors.jpg); background-size: cover">
            <a href="/trips/outdoor"><h2>Outdoors</h2></a>
        </div>
    </div>
    <!-- div class="column">
        <div class="trip" style="background: url(../img/t4.jpg); background-size: cover">
            <a href="/trips/golf"><h2>Golf</h2></a>
        </div>
    </div -->
    <div class="column">
        <div class="trip" style="background: url(../img/family.jpg); background-size: cover">
            <a href="/trips/family"><h2>Family</h2></a>
        </div>
    </div>
</div>
