/* 564f47 fefcf8 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Circular';
    -webkit-font-smoothing: antialiased;
    background: #fefcf8;
    background-size: cover;
}

body, html, * {
    font-family: 'Circular' !important; 
}

h1, h2, h3 {
    font-family: 'Circular bold' !important;     
}

.main {
    padding: 2rem;
    font-family: 'Circular';
}

/* MENU */
.ui.inverted.menu,  {
    padding: 1rem;
    border-radius: 0;
}

.ui.inverted.menu .orange.active.item, .ui.inverted.orange.menu,
.ui.inverted.menu .item {
    background: #fefcf8 !important;
    color: #222 !important;
}

.ui.menu {
    margin-bottom: 0 !important;
}

.book {
    opacity: 0.8;
    padding: 5em;
}

/* SLIDER */
.slider ul li {
    width: 100%;
    height: 650px;
    line-height: 1.1;
    font-weight: normal;
    text-align: center;
    color: #fff;

    display: -webkit-flex; 
    display: flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center; 
    justify-content: center;
    -webkit-align-items: center; 
    align-items: center;
}

.slider ul li h1 {
    font-size: 50px;
    font-weight: normal;
    line-height: 1.1;
}

.ui.container {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.ui.container img {
    max-width: 100%;
}

.ui.grid > .row {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;   
}

.call-to-action {
    display: -webkit-flex; /* Safari */
    display: flex;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
    -webkit-align-items: center; /* Safari */
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10rem 5rem 10rem 5rem;
    font-size: 22px;
    color: #fff;
}

.centred {
    text-align: center;
}

.ticket {
    border: 2px solid #000;
    padding: 1.5rem;
}

.ticket h3 {
    margin-bottom: 0;
}

.footer {
    padding-top: 3rem !important;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Medium.otf");
}

@font-face {
    font-family: "Circular bold";
    font-weight: bold;
    src: url("../fonts/CircularStd-Bold.otf");
}

.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"] {    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    background: none;
    border-radius: 0;
}

.ui.form input:not([type]):focus, .ui.form input[type="date"]:focus, .ui.form input[type="datetime-local"]:focus, .ui.form input[type="email"]:focus, .ui.form input[type="number"]:focus, .ui.form input[type="password"]:focus, .ui.form input[type="search"]:focus, .ui.form input[type="tel"]:focus, .ui.form input[type="time"]:focus, .ui.form input[type="text"]:focus, .ui.form input[type="file"]:focus, .ui.form input[type="url"]:focus {
    border-color: #222;
    border-radius: 0;
    background: none;
}

.ui.button, .ui.active.button {
    border: 2px solid #000;
    background: none;
    border-radius: 0;
}

.ui.button.spacing {
    margin-top: 10px;
}

.ui.button:active, .ui.active.button:active, .ui.button:hover, .ui.active.button:hover  {
    background: none;
    border-color: #222;
}

.ui.segments .segment, .ui.segment, .ui.segments > .segment, .ui.segments {
    border-radius: 0 !important;
    background: none !important; 
    box-shadow: none !important;
}

 .ui.segments:not(.horizontal) > .segment:last-child {
    padding-top: 2rem;
 }

 .trips .column {
    padding: 0 !important;
 }

 .trips.grid {
     padding-top: 1rem !important; 
 }

 .trips .column img {
    max-width: 100%;
 }

.trips .trip {
    height: 400px;
    display: -webkit-flex; /* Safari */
    display: flex;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
    -webkit-align-items: center; /* Safari */
    align-items: center;
    width: 100%;
    text-align: center;
 }

 .trips .trip a {
     color: #fff;
 }

 .trips ul li {
     list-style: none;
     padding: 2rem;
     border-bottom: 2px dashed #eee;
 }

.trips ul {
    padding: 0 !important;
}